<div style="max-width: 600px; margin: 0 auto;">
  <h2 style="color: rgba(0,0,0,0.8);
            font-family: helvetica, 'Open Sans', sans-serif;
            font-size; 22px;
            font-weight: normal;
            line-height: 24px;
            margin: 0;
            padding-top: 15px;
            padding-bottom: 5px;
            text-align: center;
            ">¡Bienvenido a Tong!</h2>

  <hr style="max-width: 40px; border: 1px solid rgba(0,0,0, 0.2);"/>

  <p style="text-align: center; font-family: helvetica, 'Open Sans', sans-serif;
            color: rgba(0,0,0,0.6); line-height: 1.4;">
  Hola <strong style="color: #ff3a46;"><%= @user.username.split(" ").first %></strong>, hemos esperado con ansias este momento. Estás a punto de entrar a un mundo lleno de contenido relevante.<br/><br/>
    Haz que todos conozcan lo que te gusta, te apasiona, te mueve, te inspira.  
  </p>
</div>

<%= image_tag "daily.jpg", style: "display: block; max-width: 600px; margin: 0 auto;" %>
<div style="text-align: center;"> 
  <h4 style="font-family: helvetica, 'Open Sans', sans-serif; font-size: 18px;
            color: rgba(0,0,0,0.6); line-height: 1.4;">¡Nos vemos dentro!</h4>
<%= image_tag('tongwelcmail.svg', class: 'logo-main', height: 30, alt: "Tongue") %>
</div>