.dashboard-main-content {
  padding-top: 2em;
  padding-bottom: 2em;
}

.fix-text {
  text-align: 0;
}

body.dashboards.show,
body.dashboards.bookmarks,
body.dashboards.top_stories {
  .main-container {
    background: $background-gray;
  }
  .posts-wrapper > .post-panel {
    background: $white;
    //padding: 20px;
    margin-bottom: 10px;
    border: 1px solid rgba(0,0,0, 0.09);
    @include box-shadow;
    @include border-radius($radius);
  }

  .follow-suggestion-wrapper {
    border-top: 1px solid $border-color;
    padding-top: 21px;
  }
}

body.dashboards.top_stories {
  .top-story-rank {
    padding-bottom: 1.2em;
  }
  .count-button-wrapper {
    margin: auto;
    width: 40px;
    height: 40px;
  }
}
.block-start {
  max-width: 700px;
  margin-left: -200px;
  .tong-start-block {
    text-align: center;
    .tong-start {
      margin-top: -40px;
      height: 180px;
      width: 180px;
    }
    .hi-start {
      margin-top: 0px;
      margin-bottom: 30px;
    }
  }
  .by-start {
    text-align: center;
    margin-top: 30px;
  }
}
.title-start {
  font-size: 30px;
  color: $light-font-color;
}
.content-start {
  color: $light-font-color;
}