/* Extra small devices (phones, less than 768px) */

body.posts.new,
body.posts.edit,
body.posts.update,
body.posts.create {
  /*.navbar {
    border: none;
  }*/
  .post-metadata {
    padding: 30px 0 0;
    margin-top: 0;
  }
  .publish-button {
    margin-top: 9px;
    margin-right: 10px;
  }
  .publish-dropdown {
    width: 300px;
    right: -100px;
    margin-top: 5px;
    padding: 1em;
    color: $light-font-color;
    .dropdown-arrow-top {
      right: 138px;
    }
    .dropdown-arrow-bottom {
      right: 136px;
    }
    input.taggle_input {
      width: 100% !important;
    }
    ul.taggle_list {
      flex-wrap: wrap !important;
    }
  }
}
.del-pad {
  padding: 0;
  margin-right: 8.33333333%;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: $screen-sm-min) {
  body.posts.new,
  body.posts.edit,
  body.posts.update,
  body.posts.create {
    .post-metadata {
      padding: 30px 0 15px;
      margin-top: 20px;
    }
  }
  .del-pad {
    padding: 0 15px;
    margin-right: 0;
  }
}


/* Medium devices (desktops, 992px and up) */
@media (min-width: $screen-md-min) {

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: $screen-lg-min) {

}
