/* Extra small devices (phones, less than 768px) */

body.sessions.new,
body.registrations.new {
  input[type="text"],
  input[type="password"],
  input[type="email"] {
    font-size: 16px;
    width: 100%;
    border: none;
    outline: none;
    background-color: $white;
  }
  .form-input-wrapper {
    width: 300px;
    padding: 0.5em 0.5em;
    border: 1px solid #333;
    margin-bottom: 5px;
    border-radius: 4px;
  }
  .form-input-wrapper-sessions {
    width: 300px;
    border: 1px solid #333;
    margin-bottom: 5px;
    border-radius: 4px;
    padding: 0.2em 0.5em;
    color: black;
  }
  .white-black {
    color: $black;
    background-color: $white;
  }
  .buttons-session {
    width: 300px;
    margin-bottom: 5px;
    height: 30px;
  }
  .pad-top {
    padding-top: 4px;
  }
  .remember-me {
    //display: inline-block;
    color: $font-black;
  }
  .devise-links {
    margin-top: 2em;
    a {
      color: $font-black;
    }
  }
  .o {
    margin: 0 0 4px;
    font-size: 11px;
    font-weight: bold;
    color: $white;
  }
  .create-account {
    margin-top: 5px;
    width: 300px;
    height: 40px;
    font-size: 15px;  
  }
  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20%;
    //display: inline-block;
  }
  .container {
    text-align: center;
  }
  .title {
    color: $green;
    margin-bottom: 100px;
    font-size: 40px;
  }
}
.fix-scroll {
  margin-left: 0;
  margin-right: 0;
}
.signin-auth {
  padding-left: 0px;
  padding: 6px 25px 6px 25px;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: $screen-sm-min) {
  
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: $screen-md-min) {
  
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: $screen-lg-min) {

}