<div class="like-button-wrapper">
  <%= react_component('LikeButton',
  { liked: current_user.liked?(response),
    likeCount: response.likes.size,
    likeEndpoint: api_response_likes_path(response),
    unlikeEndpoint: api_response_likes_path(response),
    likeableType: 'Response',
    likeableId: response.id,
    disableOverlay: true }) %>
</div>
