/* Extra small devices (phones, less than 768px) */

.inline-editor {
  img {
    height: 30px;
    width: 30px;
  }
  background-color: $white;
  border: 2px solid $blue;
  border-radius: 4px;
  padding: 5px;
  margin-bottom: 10px;
  /*border: 1px solid rgba(0,0,0, 0.09);*/
  @include box-shadow;
  .medium-editor-placeholder:after {
    color: $light-font-color;
  }
  .editor-username {
    color: $accent-color;
    font-weight: normal;
  }
  .medium-editable {
    outline: none;
    @include well-read;
    font-size: 15px;
    line-height: 1.5;
    padding: 0;
    left: 0;
  }
}

.inline-editor {
  .editor-metadata,
  .editor-form {
    transition: all 300ms;
    display: inline-block;
  }
  .editor-form {
    padding-bottom: 0;
    margin: 0;
    height: 20px; // FIXME
    min-width: 60%;
    cursor: text;
    .form-group {
      height: 100%;
    }
    .hide {
      display: none;
    }
  }
  .button {
    display: none;
  }
  .editor-metadata {
    margin: 0 12px 0 0;
  }
  .editor-username {
    transition: all 300ms;
    display: none;
  }
}
.cont-choose {
  display: flex;
  justify-content: space-between;
}

.cont-main {
  display: inline-flex;
}
.options-form {
  display: none;
  cursor: pointer;
  padding: 10px 5px 5px;
}
.back-options {
  background-color: $red;
  font-weight: bold;
  border-radius: 4px;
  color: $white;
  font-size: 12px;
}
.choose-form {
  display: flex;
}
#choose {
  margin-bottom: 12px;
}
.inline-editor.active {
  .editor-metadata,
  .editor-form {
    display: block;
  }
  .editor-metadata {
    margin: 0 0 12px 0;
  }
  .editor-username {
    display: inline-block;
  }
  .editor-form {
    height: auto;
  }
  .button {
    display: inline-block;
  }
  .go-full-screen {
    margin-right: 8px;
  }
}

.inline-editor.active .editor-username {
  display: inline-block;
}

.editor-form .medium-editable.response-body {
  min-height: 110px;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: $screen-sm-min) {
  .inline-editor {
    padding: 10px;
    img {
      height: 40px;
      width: 40px;
    }
    .editor-username {
      margin-left: 12px;
    }
    .medium-editable {
      font-size: 17px;
    } 
  }
  .cont-main {
   display: inline-flex;
  }
  .cont-choose {
    display: flex;
    justify-content: space-between;
  }
  .options-form {
    display: none;
    cursor: pointer;
    padding: 10px 5px 5px;
  }
  .back-options {
    font-size: 14px;
  }
  #large {
    margin-left: 15px;
  }
  #choose {
    margin-bottom: 12px;
  }
  .choose-form {
    display: flex;
  }
  .dis-largeform {
    display: inline;
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: $screen-md-min) {
  
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: $screen-lg-min) {

}