/* Extra small devices (phones, less than 768px) */

.overlay-desc-main {
  color: $white;
  padding: 0 20px;

  .desc-main {
    max-width: 560px;
    text-align: center;
    .title-main {
      font-size: 20px;
      margin-bottom: 0;
    }
    p {
      margin-top: 18px;
      font-size: 15px;
      max-width: 550px;
    }
  }
}

.dis-none {
  display: none;
}

.overlay-main {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: image-url("waimea-canyon.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  text-align: center;
  color: white;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-size: 0.8em;

  .logo-main {
    margin: 30px 0 90px 0;
  }
  .welcome-desc {
    text-shadow: 0px 1px 4px rgba(0,0,0,0.65);
    padding: 0 15px;
    font-size: 1.65em;
    p {
      margin: 0 0 5px 0;
      line-height: 1.3;
    }
    .desc-second {
      margin-bottom: 15px;
    }
  }
  .auth {
    list-style: none;
    padding: 0;
    font-size: 1.2em;

    li {
      margin: 30px 0;
    }
    .omniauth-button {
      .facebook {
        padding: 6px 25px 6px 25px;
        width: auto;
      }
    }
    .regular-signin {
      text-shadow: 0px 1px 2px rgba(0,0,0,0.55);

      .signin-signup-link {
        padding: 5px 15px;
        border: 1px solid white;
        color: white;
        border-radius: 3px;
        margin: 0 10px;

        &:hover {
          text-decoration: none;
          background-color: #333;
        }
      }
    }
  }
  .footnote {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 5px;
    font-size: 0.85em;
    text-shadow: 1px 1px 1px black;
  }
}

.overlay-title-main {
    margin-top: 80px;
    margin-bottom: 60px;
    color: $white;
  }

.grayed-heading-main {
  color: $white;
  font-weight: bold;
  font-size: 50px;
}

.center-main {
    text-align: center;
  }

.list-desc {
  list-style: none;
  padding: 0;
  font-size: 15px;
  margin-top: 15px;
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: $screen-md-min) {

  .overlay-hugeinc {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0s 0.3s;
  }

  .overlay-hugeinc.open {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s;
  }

  .overlay-hugeinc nav {
    perspective: 1200px;
  }

  .overlay-hugeinc nav ul {
    opacity: 0.4;
    transform: translateY(-25%) rotateX(35deg);
    transition: transform 0.3s, opacity 0.3s;
  }

  .overlay-hugeinc.open nav ul {
    opacity: 1;
    transform: rotateX(0deg);
  }

  .overlay-hugeinc.close nav ul {
    transform: translateY(25%) rotateX(-35deg);
  }

  .dis-none {
  display: block;
  }

  /* Overlay style */
  .overlay-main {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    /*background-image: image-url("waimea-canyon.jpg");*/
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    font-size: 1em;
  }

  .overlay-signin {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    //background: rgba(255, 255, 255, 0.95);
    background-image: image-url("dogwood-festival.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    z-index: 10000; // FIXME
  }

  .overlay-signup {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: image-url("hudsonbay-canada.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    z-index: 10000; // FIXME
  }

  /* Overlay closing cross */
  .overlay .overlay-close-main {
    width: 80px;
    height: 80px;
    position: absolute;
    right: 20px;
    top: 20px;
    overflow: hidden;
    border: none;
    color: $white; //$light-gray;
    font-size: 22px;
    background-color: transparent;
    outline: none;
    z-index: 100;
  }

  /* Menu style */
  .overlay nav {
    text-align: center;
    position: relative;
    top: 40%;
    height: 60%;
    transform: translateY(-50%);
  }

  .overlay-title-main {
    margin-top: 80px;
    margin-bottom: 90px;
  }

  .overlay-desc-main {
    display: flex;
    justify-content: space-between;
    flex-flow: nowrap;
    align-self: center;
    align-items: center;
    padding: 0 130px 0 90px;

    .desc-main {
      text-align: left;
      .title-main {
        font-size: 30px;
      }
      p {
        margin-top: 18px;
        font-size: 15px;
        max-width: 550px;
      }
    }
  }

  .overlay ul {
    list-style: none;
    padding: 0;
    margin: 0 0 0 auto;
    display: inline-block;
    height: 100%;
    position: relative;
  }

  .overlay ul li {
    display: block;
  }

  .list-desc {
    list-style: none;
    padding: 0;
    font-size: 16px;
    margin-top: 15px;
  }

  /* Effects */
  .overlay-hugeinc {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0s 0.3s;
  }

  .overlay-hugeinc.open {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s;
  }

  .overlay-hugeinc nav {
    perspective: 1200px;
  }

  .overlay-hugeinc nav ul {
    opacity: 0.4;
    transform: translateY(-25%) rotateX(35deg);
    transition: transform 0.3s, opacity 0.3s;
  }

  .overlay-hugeinc.open nav ul {
    opacity: 1;
    transform: rotateX(0deg);
  }

  .overlay-hugeinc.close nav ul {
    transform: translateY(25%) rotateX(-35deg);
  }

  /*** Overlay for displaying users ***/
  .overlay-hugeinc nav.users-overlay {
    top: 35%;
    ul > li {
      display: flex;
      justify-content: flex-start;
      width: 420px;
      margin: 35px 0;
      position: relative;
      text-align: left;
      button {
        position: absolute;
        right: -20px;
      }
      img {
        margin-right: 20px;
      }
      .overlay-user-info {
        color: $light-font-color;
        width: 61%;
      }
    }
    .pagination-button-group {
      display: flex;
      justify-content: space-around;
    }
  }
}
