/* Extra small devices (phones, less than 768px) */

.overlay-hugeinc {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0s 0.3s;
}

.overlay-hugeinc.open {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s;
}

.overlay-hugeinc nav {
  perspective: 1200px;
}

.overlay-hugeinc nav ul {
  opacity: 0.4;
  transform: translateY(-25%) rotateX(35deg);
  transition: transform 0.3s, opacity 0.3s;
}

.overlay-hugeinc.open nav ul {
  opacity: 1;
  transform: rotateX(0deg);
}

.overlay-hugeinc.close nav ul {
  transform: translateY(25%) rotateX(-35deg);
}

/* Overlay style */
.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.96);
  z-index: 10000; // FIXME
  .logo {
    margin: 100px 0 50px 0;
  }
}

/* Overlay closing cross */
.overlay .overlay-close {
  width: 50px;
  height: 50px;
  position: absolute;
  right: 20px;
  top: 20px;
  overflow: hidden;
  border: none;
  color: $black;
  font-size: 22px;
  background-color: transparent;
  outline: none;
  z-index: 100;
  margin-bottom: 20px;
}

/* Menu style */
.overlay nav {
  text-align: center;
  position: relative;
  top: 40%;
  height: 60%;
  transform: translateY(-50%);
}

.grayed-heading {
  color: $light-font-color;
  font-weight: bold;
  font-size: 20px;
  margin: 0 20px;
}

.overlay-title {
  margin-top: 80px;
  margin-bottom: 90px;
}

.overlay-desc {
  display: flex;
  justify-content: space-between;
  flex-flow: nowrap;
  align-self: center;
  color: $white;
  padding: 0 130px;

  .desc {
    max-width: 450px;
    text-align: left;
    .title {
      font-size: 30px;
      margin-bottom: 0;
    }
    p {
      margin-top: 18px;
      font-size: 15px;
    }
  }
}

.overlay ul {
  list-style: none;
  padding: 0;
  margin: 0 0 0 auto;
  display: inline-block;
  height: 100%;
  position: relative;
}

.overlay ul li {
  display: block;
}

/* Effects */
.overlay-hugeinc {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0s 0.3s;
}

.overlay-hugeinc.open {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s;
}

.overlay-hugeinc nav {
  perspective: 1200px;
}

.overlay-hugeinc nav ul {
  opacity: 0.4;
  transform: translateY(-25%) rotateX(35deg);
  transition: transform 0.3s, opacity 0.3s;
}

.overlay-hugeinc.open nav ul {
  opacity: 1;
  transform: rotateX(0deg);
}

.overlay-hugeinc.close nav ul {
  transform: translateY(25%) rotateX(-35deg);
}

/*** Overlay for displaying users ***/
.overlay-hugeinc nav.users-overlay {
  top: 45%;
  ul > li {
    display: flex;
    justify-content: flex-start;
    width: 420px;
    margin: 35px 25px;
    position: relative;
    text-align: left;
    button {
      position: absolute;
      right: -20px;
    }
    img {
      margin-right: 20px;
    }
    .overlay-user-info {
      color: $light-font-color;
      width: 61%;
    }
  }
  .pagination-button-group {
    display: flex;
    justify-content: space-around;
  }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: $screen-sm-min) {
  /* Overlay style */
  .overlay {
    .logo {
      margin: 200px 0 50px 0;
    }
  }
  .overlay .overlay-close {
    width: 80px;
    height: 80px;
    margin-bottom: 0;
  }
  .grayed-heading {
    margin-left: 0;
    margin-right: 0;
  }
  .overlay-hugeinc nav.users-overlay {
    top: 35%;
    ul > li {
      margin: 35px 0;
    }
  }
  .margin-top-over {
    margin-top: 60px;
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: $screen-md-min) {
  
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: $screen-lg-min) {

}
