.social-share-wrapper {
  position: relative;
  margin-top: 20px;
}

.social-share {
  right: 0;
  padding: 5.3px 6px 5.3px 0;
  height: 40px;
  font-size: 14px;
  letter-spacing: 1px;
  overflow: hidden;
  text-shadow: 0 -0.5px 0 rgba(0, 0, 0, .1);
  cursor: default;
  user-select: none;

  .ico-share {
    position: absolute;
    top: 9.3px;
    right: 28.5px;
    width: 13.3px;
    height: 13.3px;
  }

  .fa {
    font-size: 16px !important;
  }

  .ico {
    font-size: 16px;
    top: 9.3px;
    left: -23.3px;
    display: inline-block;
    z-index: 2;
    color: $green;
    .facebook {
      color: $facebook-blue;
      &:hover {
        color: #2d4373;
      }
    }
    .twitter {
      color: $twitter-blue;
      &:hover {
        color: #0087ba;
      }
    }
    .googleplus {
      color: $google-red;
      &:hover {
        color: #c23321;
      }
    }
  }

  &:hover {
    background-color: $white;

    .fa {
      font-size: 16px !important;
      /*color: $button-green;*/
      
    }

    .fb, .tw, .gp {
      cursor: pointer;
    }

    .fb {
      left: 21.3px;
    }

    .tw {
      left: 46.5px;
    }

    .gp {
      left: 79.3px;
    }

    .ico-share {
      top: 9.3px;
      right: 20px;
      width: 10px;
      height: 10px;
    }
  }
}