/*** Colors ***/
$black: #000000;
$white: #ffffff;
$green: #0ead69;
$yellow: #ffd23f;
$red: #ee4266;
$galileo: #3bceac;
$accent-color: #333;
$light-gray: rgba(0,0,0,0.44);
$super-light-gray: rgba(0,0,0,0.05);

/* social colors */
$twitter-blue: #00aced;
$facebook-blue: #3b5998;
$google-red: #dd4b39;

/* border color */
$border-color: rgba(0, 0, 0, 0.1);
$light-border-color: #f0f0f0;
$border-hover-color: rgba(0, 0, 0, 0.3);

/* font color */
$light-font-color: rgba(0, 0, 0, 0.6);
$font-black: #141823; //rgba(0,0,0, 0.8);
$super-light-font-color: $border-hover-color;

/* button color */
$button-green: #00FF82;

/* background color */
$background-gray: #fafafa;

/* Progress bar (on page change) */
$progress-bar: $green;

/* border radius */
$radius: 3px;
$popover: 4px;
$round: 50%;

/*** Font Stacks ***/
$main-stack: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
$reading-stack: 'Lora', Georgia, serif; /*Helvetica, Georgia, serif; /*

/*** Z-index ***/
$z-popover: 20;
$alert: 9999;
$navbar-fixed-top: 1030;
