<div class="like-button-wrapper">
  <%= react_component('LikeButton',
  { liked: current_user.liked?(post),
    likeCount: post.likes.size,
    likeEndpoint: api_post_likes_path(post),
    unlikeEndpoint: api_post_likes_path(post),
    likeableType: 'Post',
    likeableId: post.id,
    overlayHeading: "Tongs de #{post.title}",
    overlayEndpoint: api_likers_path(post_id: post.id)}) %>
</div>
