<div class="like-button-wrapper">
  <% if user_signed_in? %>
	<%= react_component('LikeButton',
    { liked: current_user.liked?(post),  
      likeCount: post.likes.size,
      likeEndpoint: api_post_likes_path(post),
      unlikeEndpoint: api_post_likes_path(post),
      likeableType: 'Post',
      likeableId: post.id,
      overlayHeading: "Likes de #{post.title}",
      overlayEndpoint: api_likers_path(post_id: post.id)}) %>
  <% else %>
    <%= button_to '', method: :get, class: 'like-button', data: { behavior: 'trigger-overlay' } do %>
      <svg version="1.1" id="Capa_1" x="0px" y="0px" width="13.8551px" height="19.1818px" viewBox="0 0 54.25 64.25" enable-background="new 0 0 54.25 64.25">
        <path fill="#FFFFFF" stroke="#EE4266" strokeWidth="4" stroke-miterlimit="10" d="M6.75,4.351c3.1-3,14.5-0.5,14.5-0.5
          c0.3,0,3,0.5,3,3.899v21c0.2,4.4,5.8,4.101,5.7,0V7.851c0-3.5,2.7-4,3.1-4.101c0,0,11.4-2.6,14.5,0.5c10.3,10.2,0.3,55.8-19.6,57.3
              C6.85,63.15-3.65,14.55,6.75,4.351z"/>
      </svg>
      </i><span class="hide-text">tong</span>
    <% end %>
    <span class="like-count"><%= post.likes.size %></span>
  <% end %>
</div>
    