<div style="height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 0.5;">
</div>
<div class="over over-hugeinc">
  <div class="over-main" style="background: url(<%= randomized_background_image %>) no-repeat center center fixed;">
    <%= image_tag('tongsession.svg', class: 'logo-main-over', height: 55, alt: "", title: "Tongs") %>
    <p class="welcome-desc-main"><strong>¡Ey! ¿Todavía no te registras en Tongs? <br>Bueno, nada del otro mundo, solo un click</strong></p>
    <ul class="auth">
      <li class="omniauth-button">
        <%= link_to user_omniauth_authorize_path(:facebook), class: 'button social facebook' do %>
          <%= icon('facebook-official') %>Entra con Facebook
        <% end %>
      </li>
    </ul>
    <p class="footdesc">Da y recibe tongs compartiendo lo que sepas o te apasione.</p>
  </div>
</div>