<div data-behavior="overlay" class="overlay overlay-hugeinc">
  <button data-behavior="close-overlay" type="button" class="overlay-close"><span class="glyphicon glyphicon-remove"></span></button>
  <div class="overlay-main" style="background: url(<%= randomized_background_image %>) no-repeat center center fixed;">
    <%= image_tag('tongsession.svg', class: 'logo', height: 80, alt: "", title: "Tongs") %>
    <div class="welcome-desc">
      <p class="desc-second"><strong>Mejora tu perfil profesional compartiendo <br>temas que sepas y/o te apasionen. 👅</strong></p>
    </div>
    <ul class="auth">
      <li class="omniauth-button">
        <%= link_to user_omniauth_authorize_path(:facebook), class: 'button social facebook' do %>
          <%= icon('facebook-official') %>Continúa con Facebook
        <% end %>
      </li>
    </ul>
  </div>
</div>